.wrap {
    padding: 45px 0;

    .heading {
        font-weight: 600;
        font-size: 40px;

        @media screen and (max-width: 1400px) {
            font-size: 32px;
        }

        @media screen and (max-width: 576px) {
            font-size: 26px;
        }
    }

    .directionRow {
        display: flex;
    }

    .userContainer {
        width: 100%;
        .wrap {
            border-right: 1px solid #ededed;
            border-radius: 4px;
            padding: 30px 0;
            width: 30%;

            @media screen and (max-width: 992px) {
                width: 100%;
                border-bottom: 1px solid #ededed;
                border-right: none;
                padding-bottom: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                column-gap: 10px;
                row-gap: 20px;
                flex-wrap: wrap;
            }

            @media screen and (max-width: 576px) {
                width: 100%;
                display: block;
                padding-bottom: 0;
            }

            .tabContainer {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                padding-left: 22px;

                @media screen and (max-width: 992px) {
                    margin-bottom: 0;
                    padding-left: 20px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                }

                span {
                    margin-left: 15px;
                    color: #2C2C2C;
                    font-size: 18px;
                    font-weight: 500;
                    vertical-align: middle;

                    @media screen and (max-width: 1200px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width: 992px) {
                        font-size: 12px;
                        margin-left: 10px;
                    }

                    @media screen and (max-width: 768px) {
                        margin-left: 15px;
                    }
                }
            }

            .tabContainer.active {
                font-weight: 600;
                position: relative;

                span {
                    color: #1fc28f;
                }

                &::before {
                    content: '';
                    width: 4px;
                    height: 34px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    background-color: #1fc28f;
                }

                .icon {
                    path {
                        fill: #1FC28F;
                    }
                }

                .tradeicon {
                    path {
                        fill: #1FC28F;
                        stroke: #1FC28F;
                    }
                }
            }
        }
    }

    .icon {
        path {
            fill: #7B7B7B
        }
    }

    .tradeicon {
        path {
            fill: #7B7B7B;
            stroke: #7B7B7B
        }
    }
}