.mainOrderList{
    .mainTitle{
        font-size: 25px;
        font-weight: 600;
    }
    .nestedList{
        li{
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 26px;
        }
    }
}