.modal {
    :global {
        .modal-dialog {
            max-width: 800px;
            width: 100%;

            @media screen and (max-width: 1200px) {
                max-width: 600px;
            }

            @media screen and (max-width: 576px) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (max-width: 576px) {
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .modal-content {
            border-radius: 20px;
        }

        .modal-body {
            padding: 0px;
        }
    }

    .wrap {
        padding: 50px 120px;

        @media screen and (max-width: 1200px) {
            padding: 50px;
        }

        @media screen and (max-width: 576px) {
            padding: 50px 30px;
        }

        .cross {
            position: absolute;
            top: 32px;
            right: 32px;
            cursor: pointer;
        }

        .heading {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 36px;

            @media screen and (max-width: 576px) {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        .content {
            ul {
                list-style: none;

                li {
                    padding-left: 35px;
                    position: relative;
                    margin-bottom: 15px;

                    @media screen and (max-width: 576px) {
                        font-size: 12px;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        width: 13px;
                        height: 13px;
                        top: 2px;
                        left: 0px;
                        background-color: #aaaaaa;
                        border-radius: 50%;
                    }
                }
            }

            .btnWrap {
                column-gap: 34px;
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                align-items: center;
                margin-top: 60px;

                @media screen and (max-width: 1200px) {
                    column-gap: 20px;
                }

                @media screen and (max-width: 576px) {
                    flex-direction: column;
                    row-gap: 10px;
                }

                .btn {
                    min-width: 265px;
                    width: 100%;
                    height: 48px;
                    background-color: #dddddd;
                    border: 0px;
                    border-radius: 4px;
                    font-size: 16px;
                    display: block;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                    text-align: center;
                    padding: 12px 39px;

                    @media screen and (max-width: 1200px) {
                        min-width: 230px;
                        font-size: 14px;
                    }

                    @media screen and (max-width: 576px) {
                        min-width: 100%;
                        font-size: 12px;
                    }
                }

                .active {
                    background-color: #1fc28f;
                }
            }
        }
    }
}