.wrap {
  border-right: 1px solid #dedede;
  margin-right: 32px;
  max-width: 620px;
  width: 100%;

  @media screen and (max-width: 992px) {
    min-width: 100%;
    border-right: none;
    border-bottom: 1px solid #dedede;
    margin-bottom: 70px;
  }

  @media screen and (max-width: 576px) {
    margin-bottom: 30px;
  }

  .paymentBlock {
    margin-right: 32px;

    @media screen and (max-width: 992px) {
      margin-right: 0;
    }

    .paymentHeadingBlock {
      background-color: #f9f9f9;
      border: 1px solid #ededed;
      border-radius: 4px;
      padding: 20px;
      display: flex;

      .timerIconContainer {
        border: 1px solid #7b7b7b;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        flex: 0 0 auto;

        @media screen and (max-width: 1200px) {
          margin-right: 10px;
        }
      }

      .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 8px;
        line-height: 30px;

        @media screen and (max-width: 1200px) {
          font-size: 20px;
        }

        @media screen and (max-width: 400px) {
          font-size: 16px;
          line-height: normal;
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;

        @media screen and (max-width: 576px) {
          font-size: 14px;
        }
      }
    }

    .paymentInfo {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      padding: 30px 0;
      margin: 0;

      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }

    .releaseTradeBtn {
      background-color: #1fc28f;
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      height: 48px;
      border: none;
      width: 100%;
      border-radius: 4px;
      display: block;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  .tradeInfoContainer {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin: 40px 0;
    padding: 15px 32px 15px 0px;

    @media screen and (max-width: 576px) {
      padding-right: 0;
    }

    .tradeInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 576px) {
        flex-direction: column;
        row-gap: 10px;
      }

      .cancelBtn {
        background-color: #fff;
        border: 1px solid #1fc28f;
        border-radius: 7px;
        height: 48px;
        max-width: 170px;
        width: 100%;

        @media screen and (max-width: 576px) {
          font-size: 14px;
          max-width: 100%;
        }

        @media screen and (max-width: 400px) {
          height: 40px;
          max-width: 100%;
        }
      }

      .InfoIcon {
        margin-right: 10px;
      }

      .txt {
        color: #b8b8b8;
        font-size: 16px;
        font-weight: 400;

        @media screen and (max-width: 576px) {
          font-size: 14px;
        }
      }
    }
  }
}